name: CI Simples

on: [push, workflow_dispatch]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      # 1. Baixa o código
      - name: Checkout
        uses: actions/checkout@v4

      # 2. Configura o Java 17
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'

      # 3. Roda os testes (Modo Headless obrigatório para não travar)
      - name: Testar
        run: mvn clean test -DargLine="-Dheadless=true"