name: Java CI with Maven

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      # 1. Baixa o seu código
      - name: Checkout code
        uses: actions/checkout@v3

      # 2. Instala o Java 17 no servidor do GitHub
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'

      # 3. Compila o projeto (Build)
      - name: Build with Maven
        run: mvn -B package --file pom.xml -DskipTests

      # 4. Roda os Testes (Configurado para rodar sem abrir janelas - Headless)
      - name: Run Tests
        # O argumento -Dheadless=true avisa o nosso código Java para não tentar abrir o Chrome visualmente
        run: mvn test -DargLine="-Dheadless=true"